<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/assets/css/style.css?v=e320019f6d5b78b36806e86990cbf1d0e6f5421c">
  </head>
  <body>
      <section class="page-header">
      <h1 class="project-name">{{ page.title }}</h1>
      <h2 class="project-tagline">{{ page.slogan }}</h2>
      <a href="http://space.ml/code/{{ page.projname }}" class="btn">Code and VM</a>
      <a href="http://space.ml/demo/{{ page.projname }}" class="btn">System Demo</a>
      <a href="http://space.ml/supp/{{ page.projname }}" class="btn">Supplementary Material</a>
      </section>

    <section class="main-content">

<div class="post">
  {{ content }}
</div>

      <footer class="site-footer">
        <span class="site-footer-credits"><a href="http://space.ml">SpaceML</a> &copy; 2017</span>
      </footer>
      
    </section>

    
  </body>
</html>
